/* style.css */
body {
    background-color: #202020;
    color: #1b670c;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #0077CC;
    font-size: 32px;
    font-weight: bold;
    text-align: center; /* Center the H1 tag */
}

h2 {
    color: #0077CC;
    font-size: 24px;
    margin-top: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.input-box {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #3C3C3C;
    color: #FFFFFF;
}

.button-primary {
    width: 150px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0077CC;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button-primary:hover {
    background-color: #005EA6;
}
